<div class="container">
    <h1>SignUp</h1>
    <p>Already have an account? <a routerLink="/auth/login">Sign in</a></p>

    <form>
        <label>Email</label>
        <input app-input type="email" />
        <label>Senha</label>
        <input app-input type="password" />
        <button app-button type="submit">SignUp</button>
        <p>
            By signing up, I agree to
            <a href="#">Terms of Service </a>
            and
            <a href="#">Privacy Policy.</a>
        </p>
    </form>
</div>
