::ng-deep input[app-input] {
    background-color: var(--color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    transition: background .3s;
    outline: none;
}